.similarEquipments__container{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 90%;
}

.similarEquipments__container a{
    display: block;
    width: 300px;
    height: 400px;
}

.similarEquipments__container h2{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
}

.similarEquipments__container h2 span{
    color: red;
}