@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

.exercise-video__container, .videos{
    display: flex;
}

.exercise-video__container{
    flex-direction: column;
    margin-top: 100px;
    padding: 10px;
}

.exercise-video__container h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}

.exercise-video__container h1 span{
    color: red;
    text-transform: capitalize;
}

.videos{
    flex-wrap: wrap;
    justify-content: center;
}

.videos img{
    width: 300px;
    height: 200px;
    margin-right: 7px;
    margin-bottom: 3px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid gainsboro;
}

.videos a{
    color: rgb(133, 131, 131);
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.videos h5{
    margin-bottom: 15px;
    max-width: 295px;
}

.videos h5 span{
    color: black;
}